body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(27, 12, 36);

  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  min-height: 80vh;        /* full screen height */
  flex-direction: column;   /* stack h1 + box */
}
input {
  padding: 6px;
  margin: 5px;
}
.button {
  text-decoration: none;
  font-weight: bold;
  color: rgb(224, 173, 96);
  background-color: none;
  padding: 10px;
  border: 3px solid rgb(224, 173, 96);
  border-radius: 6px;
  align-content: center;

  transition: transform 0.2s ease, background-color 0.2s ease;
}
.button:hover {
  color: rgb(53, 59, 68);
  background-color: rgb(224, 173, 96);
  transform: scale(1.1);
  cursor: pointer;
}

#change, #nochange {
  color:rgb(224, 173, 96);
  font-size: 20px;
  font-weight: bolder;
}

#box {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 30px;
    width: 55vw;
    max-width: 370px;
    height: 250px;

    border-radius: 10px;
    border: 4px solid rgb(196, 168, 127)
}

.grid {
  display: grid;
  column-gap: calc(1vw + 10px);
  row-gap: 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 16px;
  align-items: center;
  justify-items: center;
}

#host-stuff {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 10px;
  column-gap: 5px;
  row-gap: 16px;
  align-items: center;
  justify-items: center;
}

#player-box {
  display: grid;
  grid-template-rows: auto auto;
}

#player-count {
  color: rgb(224, 173, 96);
  padding: 1.3vw;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(23, 10, 31);
}

#player-list {
  color: rgb(171, 124, 192);
  font-size: 15px;
  background-color: rgb(15, 6, 20);
  padding-bottom: 5px;
  transform-origin: top;
}

@keyframes player-come {
  0% {transform: scaleY(0);}
  90% {transform: scaleY(1.1);}
  100% {transform: scaleY(1);}
}

.full-span {
  grid-column: 1 / span 2;
}

#myDIV {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

        position: fixed;
        top: 26%;
        left: 0;
        width: 100vw;
        z-index: 999999;
  height: 100px;
  background: rgba(31, 34, 37, 0.397);
  backdrop-filter: blur(3px);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bolder;
  padding: 16px;
  box-sizing: border-box;
  transform: translateX(-100%);

  opacity: 0;
}
@keyframes mymove {
  0% { transform: translateX(-100%); opacity: 0;}
  25% { transform: translateX(0); opacity: 1;}
  100% { transform: translateX(0); opacity: 1}
}

@keyframes disappear {
  from {
    transform: scaleY(1); opacity: 1;
  }

  to {
    transform: scaleY(0); opacity: 0;
  }
}